@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Courgette&family=Dancing+Script:wght@700&family=EB+Garamond&family=Great+Vibes&family=Heebo:wght@300&family=Nunito+Sans:ital,wght@0,500;1,400&family=Nunito:ital,wght@0,200;1,400&family=Poppins:wght@300;500&family=Public+Sans:wght@200&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Courgette&family=Dancing+Script:wght@700&family=EB+Garamond&family=Great+Vibes&family=Heebo:wght@300&family=Nunito+Sans:ital,wght@0,500;1,400&family=Nunito:ital,wght@0,200;1,400&family=Poppins:wght@300;400;500&family=Public+Sans:wght@200&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior:smooth;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("Rectangle\ 6.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}


menu{
    position: fixed;
    top: 1%;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
menu.rolagem{
    background:rgba(82, 144, 244, 1);
  }
  
menu ul{
    display: flex;
    margin-right: 5%;
}

menu ul li{
    list-style: none;
}

menu ul li a{
    margin: 12px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    border-bottom: 0px solid #eee;
}

menu ul li a:hover{
    border-bottom: 2px solid #eee;
}

 
.title h1{
    font-family: 'Dancing Script';
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}
.title h1 a{
    text-decoration: none;
    font-family: 'Dancing Script';
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}
.title{
    margin-left: 5%;
    cursor: pointer;
}

.text-principal{
    position: absolute;
    left:77px;
    top: 220px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 64px;
}

.buttons{
    position: absolute;
    top: 65%;
    left: 24%;
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-burguer{
    display: none;
}

button{
    width: 273px;
    height: 64px;
    font-size: 25px;
    color: #111;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background:  #FFFF00;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background: #d3d300;
}
#btn1{
    background:rgba(82, 144, 244, 1);
    transition: all 0.3s ease-in-out;
}

#btn1:hover{
    background:rgb(55, 112, 203);
}
#visaoGeral{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#visaoGeral p{
position: absolute;
width: 75rem;
height: 416px;
left: 70px;
top: 160px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
}

#visaoGeral h1{
    position: absolute;
    left:5%;
    top: 13%;
    height: 10%;
}

#visaoGeral img{
    width: 27%;
    
}
#visaoGeral span{
    font-size: 1.2em;
}

#Funcionalidades{
    position: relative;
    width: 100%;
    height: 230vh;
    overflow: hidden;
}
#Funcionalidades p{
position: absolute;
width: 75rem;
height: 416px;
left: 70px;
top: 180px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
}
.pergunta{
    position: relative;
    left: 35%;
    top: 5%;
    width: 30%;
    height: 8%;
}
.pergunta h1{
   position: absolute;
   left: 27%;
   top: 22%;
   font-size: 1.5em;
}
#circulo{
    position: absolute;
    left: 10%;
    top: 10%;
}
#into{
    position: absolute;
    left: 15%;
    top: 26%;
}
#ponto{
    position: absolute;
    left: 16%;
    top: 56%;
}
.prime-block{
    position: absolute;
    top: 17%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.segundo-block{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.segundo-block #div3{
    margin-top: 28%;
    width: 310px;
    height: 550px;
    background: #808080;
    border-radius: 13px;
    color: #fff;
}
.segundo-block #div3 .p1{
    margin-top: 5%;
    font-size: 1.2em;
    text-align: center;
    margin-left: 33%;
}
.segundo-block #div3 .p2{
   margin-top: 11%;
   margin-left: 69%;
   font-size: 1em;
   width: 230px;
}

#div1{
    margin-top: -7%;
    width: 310px;
    height: 390px;
    background: #808080;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#div2{
    margin-top: -7%;
    width: 310px;
    height: 390px;
    background: #808080;
    border-radius: 13px;
    display: flex;
    justify-content: center;
      margin-top: -7%;
   align-items: center;
    color: #fff;
}
#div1 .p1{
     margin-left: 2%;
     font-size: 1.2em;
}
#div1 .p2{
    margin-top: -3%;
    margin-left: 2%;
    font-size: 1.2em;
    width: 270px;
}
#div2 .p1{
    margin-top: -7%;
    font-size: 1.2em;
    text-align: center;
}
#div2 .p2{
   margin-top: -1%;
   margin-left: 36%;
   font-size: 1.1em;
   width: 240px;
}
#div3{
    margin-top: 5%;
    width: 310px;
    height: 550px;
    background: #808080;
    border-radius: 13px;
    color: #fff;
}
#div3 .p1{
    margin-top: -7%;
    font-size: 1.2em;
    text-align: center;
    margin-left: 33%;
}
#div3 .p2{
   margin-top: -1%;
   margin-left: 69%;
   font-size: 1em;
   width: 230px;
}

#beneficios{
    position: relative;
    width: 100%;
    height: 150vh;
}
#beneficios ol{
    position: absolute;
    width: 1200px;
    height: 720px;
left: 80px;
top: 200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
}

.tile-ben{
    position: relative;
    left: 5%;
    top: 5%;
    width: 20%;
    height: 15%;
}
.tile-ben h1{
    position: absolute;
    left: 35%;
    top: 30%;
    color: #000;
    font-size: 2em;
}
.escudo{
    position: absolute;
    left: 5%;
    top: 30%;
    width: 17%;
}

.bom{
    position: absolute;
    left: 8%;
    top: 43%;
    width: 10%;
}

#salvar{
    position: relative;
    width: 100%;
    height: 70vh;
    background: #221;
    background-image: url("Rectangle\ 16.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
#salvar::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

#salvar h1{
    position: absolute;
    color: #fff;
    left: 25%;
    top: 5%;
    font-size: 3.5em;
    font-weight: 400;
}

#salvar p{
 position: absolute;
 width: 1150px;
height: 720px;
left: 100px;
top: 150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
color: #fff;
}

#funcionalidade2{
    position: relative;
    width: 100%;
    height: 110vh;
}

#funcionalidade2 ol{
    position: absolute;
    width: 1200px;
    height: 720px;
left: 80px;
top: 200px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
}

.labri{
    position: absolute;
    left: 5%;
    top: 30%;
    width: 17%;
}

.tile-labri{
    position: relative;
    left: 5%;
    top: 15%;
    width: 20%;
    height: 15%;
}
.tile-labri h1{
    position: absolute;
    left: 26%;
    top: 30%;
    color: #000;
    font-size: 2em;
}

#contactos{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactos p{
position: absolute;
width: 75rem;
height: 416px;
left: 70px;
top: 160px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 36px;
text-align: justify;
}

#contactos h1{
    position: absolute;
    display: flex;
    left:5%;
    top: 13%;
    height: 10%;
}

#contactos img{
    width: 40px;
    height: 40px;
    
}
#contactos span{
    font-size: 1.5em;
    margin-left: 2%;
    font-weight: 600;
}

.links{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links h1{
    margin-top: -6%;
    font-size: 1em;
    font-weight: 400;
    color: #111;
}

.links img{
    width: 30px;
    height: 30px;
}

footer{
    position: absolute;
    width: 100%;
    height: 9vh;
    background: #1A1A1A;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items:center;
}
